// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$card-text-color: rgb(10, 152, 147);

$royal_blue: #16202f;
$dark_blue: #303e4f;
$blue: #577285;
$gray: #94a2ac;
$light-gray: #dbdfe7;
$lightest_gray: #EAEEF4;
$burgundy: #874646;
$off_white: #F5F5F5;

// faded blues are $dark_blue but lighter
$faded-blue: hsl(213, 24%, 50%);
$more-faded-blue: hsl(213, 24%, 75%);
