// custom color scheme
$black: #000000;
$gray: #A09E9E;
$dark_gray: #424242;
$light_gray: #D9D9D9;
$white: #F5F5F5;
$pink: #F4BBAB;
$red: #FE6C55;
$blue: #459DB1;
$lightblue: #B6D1CB;
$offwhite: #F6F3E0;
$lightestbrown: #C6BFA3;
$mid_brown: #ABA08B;
$dark_brown: #372527;
$green: #425D54;
