.tourney-main {
  color: $royal_blue;
  text-align: center;
  // Getting rid
  text-shadow: 0 0 white;
  padding: 15px;
}

.tourney-secondary {
  color: $royal_blue;
  text-align: center;
}

.tourney-links {
  margin: 50px auto;
  display: flex;
  justify-content: space-around;
}

.scoreboard-link {
  background-color: $dark_blue;
  color: white;
  padding: 12px 24px;
  width: 300px;
  border-radius: 8px;
  text-transform: uppercase;

  font-size: 20px;

  i {
    font-size: 30px;
  }

  &:hover {
    background-color: $royal_blue;
    box-shadow: 0 0 3px 0 $dark_blue;
  }
}

.tourney-info {
  background-color: rgb(245, 230, 215);
  display: flex;
  justify-content: space-around;
  margin: 30px auto;
  padding: 20px;
  border-radius: 8px;
  color: $royal_blue;
  width: 50%;

  p {
    text-align: center;
  }
}
