.homepage-banner {
  position: relative;
  display: flex;
  flex-direction: column;
  background-image: url(homepage-banner.jpg);
  background-size: cover;
  background-position: center;
  height: calc(100vh - 66px);
  flex-grow: 1;

  // padding: 250px 0;
  // background-image: url(homepage-banner.jpg);
  // background-repeat: no-repeat;
  // background-size: cover;
  // // object-fit: cover;
  // background-position: center;
  // width: 100%;
  // flex-grow: 1;
  .home-banner-img {
    width: 100%;
  }

  .homepage-container {
    padding-top: 160px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  h1 {
    margin-left: 8vw;
    margin-top: 1vh;
    // margin-bottom: 4vh;
    color: white;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.7);
    font-size: 9vh;
    font-weight: bold;
  }

  .start-now-btn {
    font-size: 2vh;
    padding: 1vh;
    padding-left: 2vh;
    padding-right: 2vh;
    margin-left: 14vw;
    font-weight: lighter;
    color: white;
    border: 1px solid white;
    background-color: transparent;
    text-decoration: none;
    border-radius: 20px;

    &:hover {
      transition: 0.25s;
      background-color: $burgundy;
      box-shadow: 0 0 2px 0 $dark-blue;
      border: 1px solid $burgundy;
    }
  }

}

.homepage-text {
  position: absolute;
  padding-left: 35vh;
  padding-right: 35vh;
  bottom: 8vh;
  font-size: 3vh;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 2px rgb(255, 255, 255);
  text-align: center;
  -webkit-animation: glow 1.5s ease-in-out infinite alternate;
  -moz-animation: glow 1.5s ease-in-out infinite alternate;
  animation: glow 1.5s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #22223b, 0 0 40px #22223b, 0 0 50px #22223b, 0 0 60px #22223b, 0 0 70px #22223b;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #c9ada7, 0 0 40px #c9ada7, 0 0 50px #c9ada7, 0 0 60px #c9ada7, 0 0 70px #c9ada7, 0 0 80px #c9ada7;
  }
}
