.homepage-banner {
  // position: relative;
  display: flex;
  flex-direction: column;
  background-image: url(homepage-banner.jpg);
  background-size: cover;
  background-position: center;

  ;

  // padding: 250px 0;
  // background-image: url(homepage-banner.jpg);
  // background-repeat: no-repeat;
  // background-size: cover;
  // // object-fit: cover;
  // background-position: center;
  // width: 100%;
  // flex-grow: 1;
  .home-banner-img {
    width: 100%;
  }

  .homepage-container {
    padding-top: 160px;
    // position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  h1 {
    margin-left: 8vw;
    margin-top: 8vh;
    margin-bottom: 4vh;
    color: white;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.7);
    font-size: 9vh;
    font-weight: bold;
  }

  .start-now-btn {
    font-size: 2vh;
    padding: 1vh;
    padding-left: 2vh;
    padding-right: 2vh;
    margin-left: 14vw;
    font-weight: lighter;
    color: white;
    border: 1px solid white;
    background-color: transparent;
    text-decoration: none;
    border-radius: 20px;

    &:hover {
      transition: 0.25s;
      background-color: $burgundy;
      box-shadow: 0 0 2px 0 $dark-blue;
      border: 1px solid $burgundy;
    }
  }

  .homepage-text {
    margin-left: 8vw;
    padding-top: 28vh;
    font-size: 3vh;
    color: white;
    opacity: .7;
    text-shadow: 1px 1px 2px rgb(255, 255, 255);
  }
}

.homepage-icons {
  width: 100vw;
  display: flex;
  justify-content: space-around;
}


.three-icons {
  display: flex;
  min-width: 300px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5vh;
  text-align: center;
}

.small-icons {
  width: 125px;
  height: 125px;
}
