.matchup {
border-radius: 10px;
padding: 10px 20px;
}

.matchup-avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

#score-modal-btn {
border-radius: 5px;
}

.matchup-done {
  background-color: $faded-blue;
  color: white;

  #score-modal-btn {
    color: $dark-blue;
    border: 1px solid white;
  }

  #score-modal-btn:hover {
    background-color: white;
    color: $dark-blue;
    border: 1px solid $dark-blue;
  }
  .border-bottom {
    border-color: white !important;
  }

  #score-modal-btn {
    color: white;
    border: 1px solid white;
  }

  .text-primary {
    color: white !important;
  }

  .text-secondary {
    color: white !important;
  }

  // Prevents the previous lines from affecting the input form if we need to
  // change the score after submitting.
  input.text-primary, input.text-secondary {
    color: $primary !important;
  }
}
