// show + edit shared style

// show
.tourney-main {
  color: $royal_blue;
  text-align: center;
  // Getting rid
  text-shadow: 0 0 white;
  padding: 15px;
  font-size: 48px;
  font-weight: 600;
}

.tourney-secondary {
  color: $royal_blue;
  text-align: center;
}

.tourney-round {
  font-weight: 600;
}

.tourney-headings {
  font-weight: 500;
}

.tourney-links {
  margin: 50px auto;
  display: flex;
  justify-content: space-around;
}
.tourney-btn {
  background-color: $dark_blue;
  color: white;
  text-transform: uppercase;
  box-shadow: 3px 3px 2px 2px $gray;

  &:hover {
    background-color: $royal_blue;
    box-shadow: 0 0 2px 0 $dark_blue;
  }
}
.tourney-btn-lg {
  padding: 12px 18px;
  padding-top: 14px;
  width: 260px;
  border-radius: 8px;
  font-size: 20px;
  i {
    font-size: 30px;
  }
}
.tourney-btn-sm {
  padding: 8px 16px;
  padding-top: 12px;
  width: 160px;
  border-radius: 6px;
  font-size: 18px;
  i {
    font-size: 26px;
  }
}
.tourney-info {
  background-color: $off_white;
  display: flex;
  justify-content: space-around;
  margin: 30px auto;
  padding: 20px;
  border-radius: 8px;
  color: $royal_blue;
  width: 60%;

  p {
    text-align: center;
  }
}

// edit
#tourney-page {
  align-content: center;
  width: 300px;
  margin-left: 400px;
}

.tourney-manage {
  color: $royal_blue;
  text-align: center;
  padding-top: 40px;
}

.tourney-main-manage {
  color: $royal_blue;
  text-align: center;
  // Getting rid
  text-shadow: 0 0 white;
  font-size: 48px;
  font-weight: 600;
  padding-bottom: 40px;
}

  #tournament_pairing_system {
  border-radius: 8px;
}

#tournament_number_of_winners {
  border-radius: 8px;
}

#tourney-btn {
  border-radius: 8px;
  color: $off_white;
  border-color: $dark_blue;
  background-color: $dark_blue;
  box-shadow: 2px 2px 1px 1px $gray;
}

.tourney-manage-2 {
  color: $royal_blue;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 20px;
}

// #edit_tournament_2 {
//   display: inline!important;
// }

// #tourney-update {
//   display: inline!important;
// }
// .tourney-categories {
//   text-align: center;
//   font-weight: 550;
// }

// .tourney-categories-2 {
//   font-weight: 550;
// }

// .tourney-players {
//   overflow-x:hidden;
//   white-space:nowrap;
//   height: 2em;
//   width: 100%;
//   text-align: center;
// }

// .tourney-names {
//   display:inline;
// 	transition: all 0.5s ease;

//   &:hover {
//     color: $dark_blue;
//   }
// }

// form
table{
  width:100%;
  table-layout: fixed;
}

.tbl-header{
  background-color: $gray;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
 }

.tbl-content{
  height:300px;
  overflow-x:auto;
  margin-top: 0px;
  background-color: #e6e9ef;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

th{
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
}

td{
  padding: 15px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 12px;
  color: #fff;
  border-bottom: solid 1px rgba(255,255,255,0.1);
}


/* demo styles */
section{
  margin: 50px;
}

/* follow me template */
.made-with-love {
  margin-top: 40px;
  padding: 10px;
  clear: left;
  text-align: center;
  font-size: 10px;
  font-family: arial;
  color: #fff;
}

.made-with-love i {
  font-style: normal;
  color: #F50057;
  font-size: 14px;
  position: relative;
  top: 2px;
}

.made-with-love a {
  color: #fff;
  text-decoration: none;
}

.made-with-love a:hover {
  text-decoration: underline;
}


/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
