// SHOW.html.erb
.tourney-main {
  color: $royal_blue;
  text-align: center;
  text-shadow: 0 0 white;
  padding: 15px;
  font-size: 48px;
  font-weight: 600;
}

.tourney-secondary {
  color: $royal_blue;
  text-align: center;
}

.tourney-round {
  font-weight: 600;
}

.tourney-headings {
  font-weight: 500;
}

.tourney-links {
  margin: 50px auto;
  display: flex;
  justify-content: space-around;
}
.tourney-btn {
  background-color: $dark_blue;
  color: white;
  text-transform: uppercase;
  box-shadow: 3px 3px 2px 2px $gray;

  &:hover {
    background-color: $royal_blue;
    box-shadow: 0 0 2px 0 $dark_blue;
  }
}
.tourney-btn-lg {
  padding: 10px 18px;
  padding-top: 24px;
  width: 260px;
  border-radius: 9px;
  font-size: 20px;
  i {
    font-size: 30px;
  }
}
.tourney-btn-sm {
  padding: 1px 16px;
  padding-top: 15px;
  width: 160px;
  border-radius: 6px;
  font-size: 18px;
  i {
    font-size: 26px;
  }
}
.tourney-info {
  background-color: $off_white;
  // display: flex;
  // justify-content: space-around;
  margin: 30px auto;
  padding: 20px;
  border-radius: 8px;
  color: $royal_blue;
  width: 60%;

  p {
    text-align: center;
  }
}

// EDIT.html.erb
#tournament_pairing_system {
  border-radius: 8px;
}

#tournament_number_of_winners {
  border-radius: 8px;
}

.tourney-manage-2 {
  color: $royal_blue;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 20px;
}

// table
table {
  width:100%;
  table-layout: fixed;
}

.tbl-header {
  background-color: $gray;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.tbl-content {
  height:auto;
  overflow-x:auto;
  margin-top: 0px;
  background-color: #e6e9ef;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-weight: 400;
}

.tourney-no-players {
  text-align: center;
  margin: 20px 0px;
}

th {
  padding: 20px 15px;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  color: $off_white;
  text-transform: uppercase;
}

td {
  padding: 15px;
  // text-align: left;
  vertical-align: middle;
  font-weight: 400;
  font-size: 14px;
  // color: $dark_blue;
  border-bottom: solid 1px #d7dee2;
}

.btn-rnd-corners {
  padding: 8px 24px;
  border-radius: 8px;
  font-size: 1rem;
  // box-shadow: 2px 2px 1px 1px $gray;
}

.contact-dir:hover {
  color: $off_white;
  box-shadow: 0 0 4px 1px hsl(213, 24%, 75%);
}

.th-left-round {
  border-top-left-radius: 5px 5px;
}
.th-right-round {
  border-top-right-radius: 5px 5px;
}

.num-input {
  width: 75px;
  text-align: center;
}
