<div class="container">
  <div class="">

    <div class="">
      <h3 class="my-2 text-center border-bottom border-2">Pairwise Tournaments</h3>
      <div class="d-flex flex-wrap">
        <% @pw_tournaments.each do |tournament| %>
          <%= render "tournament", tournament: tournament %>
        <% end %>
      </div>
    </div>

    <div class="">
      <h3 class="my-2 text-center">Upcoming NASPA Events</h3>
      <div class="d-flex flex-wrap">
        <% @events.each do |event| %>
          <%= render "event", event: event %>
        <% end %>
      </div>
    </div>
  </div>
</div>
