<body class="tournaments">
  <div class="container">
    <div class="">
    <br><br><br>
      <div class="">
        <h1 class="my-2 text-center border-2">ONGOING TOURNAMENTS</h1>
        <div class="d-flex flex-wrap">
          <% @pw_tournaments.each do |tournament| %>
            <%= render "tournament", tournament: tournament %>
          <% end %>
        </div>
        <div class="tournament-card">Breakfast</div>
      </div>
      <br>
      <div class="">
        <h1 class="my-2 text-center border-2">UPCOMING EVENTS</h1>
        <div class="d-flex flex-wrap">
          <% @events.each do |event| %>
            <%= render "event", event: event %>
          <% end %>
        </div>
      </div>

      <br>
    </div>
  </div>
</body>
