<div class="tournaments">
  <div class="container">
    <br><br><br>
    <div class="mb-5">
      <h1 class="mb-4 text-center border-2 text-white">ONGOING TOURNAMENTS</h1>
      <% if @pw_tournaments.any? %>
        <div class="d-flex flex-wrap">
          <% @pw_tournaments.each do |tournament| %>
            <%= render "tournament", tournament: tournament %>
          <% end %>
        <br>
        </div>
      <% else %>
        <h2 class="text-center">No PairWise tournaments currently</h2>
        <br>
      <% end %>
    </div>

    <div class="mb-5" id="bottom-page">
      <h1 class="mb-2 text-center border-2 text-white">UPCOMING EVENTS</h1>
      <div class="d-flex flex-wrap">
        <% @events.each do |event| %>
          <%= render "event", event: event %>
        <% end %>
      </div>
    </div>
  </div>
</div>
