<div class="my-tournaments">
  <div class="container">
    <br><br><br>
    <div class="mb-5" id="bottom-page">
      <h1 class="mb-4 text-center border-2 text-white">MY TOURNAMENTS</h1>

      <div class="d-flex flex-wrap">
        <% @tournaments.each do |tournament| %>
          <%= render "tournament", tournament: tournament %>
        <% end %>
        <% @player_tournaments.each do |tournament| %>
          <%= render "tournament", tournament: tournament %>
        <% end %>
      </div>
    </div>
  </div>
</div>
