<div class="container justify-content-center">
  <h2>Contact Us</h2>
  <form>
    <input name="name" type="text" class="feedback-input" placeholder="Name" />
    <br>
    <input name="email" type="text" class="feedback-input" placeholder="Email" />
    <br>
    <textarea name="text" class="feedback-input" placeholder="<Message>"></textarea>
    <br>
    <input type="submit" value="SUBMIT"/>
  </form>
</div>
