<div div class="container col-3">
  <h2 class="text-primary">Contact us</h2>
  <form class="contact-us">

    <label for="fname" class="text-primary" >First Name</label>
    <br>
    <input class="text-primary form-rnd-corners input-white" type="text" id="fname" name="firstname" style="width:400px">
    <br>
    <label for="lname" class="text-primary">Last Name</label>
    <br>
    <input class="text-primary form-rnd-corners input-white" type="text" id="lname" name="lastname" style="width:400px">
    <br>
    <label for="lname" class="text-primary">Email</label>
    <br>
    <input class="text-primary form-rnd-corners input-white" type="text" id="lname" name="lastname" style="width:400px">
    <br>
    <label for="subject" class="text-primary">Your questions / comments</label>
    <br>
    <textarea class="text-primary form-rnd-corners input-white" id="subject" name="subject" style="width:400px"></textarea>
    <br>
    <input class="form-actions btn btn-primary submit-btn" type="submit" value="Submit">
  </form>
</div>
