<div class="homepage-banner">
  <div class="homepage-container">
    <div class="pair-wise d-flex flex-column">
      <h1><strong>PairWise</strong></h1>
      <div class="align-self-center">
        <%= link_to "All Tournaments", tournaments_path, class: "btn-small start-now-btn" %>
      </div>
    </div>
    <div class="homepage-text">
      <p><em>Scrabble Tournament Organizer</em></p>
    </div>
  </div>
</div>
