<div class="homepage-banner">
  <%= image_tag("homepage-banner.jpg", class: "home-banner-img") %>
  <div class="homepage-container">
      <h1><strong>PairWise</strong></h1>
      <%= link_to "Start Now", tournaments_path, class: "btn-small start-now-btn" %>
      <div class="homepage-text">
        <p><em>"One small step for a scrabbler, one giant leap for the scrabble world"</em></p>
      </div>
  </div>
</div>
