<div class="container col-3">
  <div class="d-flex justify-content-center mb-4">
    <div class="user-profile-avatar">
      <%= image_tag "user-astronaut-solid.svg" %>
    </div>
  </div>
  <div class="text-center text-primary fs-3 mb-2">
    Email: <%= current_user.email %>
  </div>
  <div class="text-center text-primary fs-4">
    Tournaments run: <%= current_user.tournaments.count %>
  </div>
</div>
