// .pos-rel is used to position the back button in the top right
.pos-rel {
  position: relative;
}

.back-btn {
  padding: 8px 25px;
  border-radius: 8px;
  font-size: 1rem;
  box-shadow: 2px 2px 1px 1px $gray;
}

@media only screen and (max-width: 450px) {
  .btn-topright {
    position: absolute;
    right: 20px;
    top: 20px;
  }
}

@media only screen and (min-width: 451px) {
  .btn-topright {
    position: absolute;
    right: 40px;
    top: 50px;
  }
}
