/*
TODO: Flesh these out. The event-card and tournament-card classes are used on
the index page. The tournaments-card is also used on the My Tournaments
page. These currently share most styles, but that can (and probably should
be) overwritten.
*/

.col-sm {
  margin-top: 25px;
}

.col-lg {
  float: left;
  width: 60%;
}

.players {
  float: left;
  margin-right: 80px;

}

.games {
  float: left;

}

.container {
  padding-right: 50px;
}

h1 {
  color: white;
  font-weight: 600;
  text-shadow: $gray 1px 0 10px;
}

.tournament-big-num {
  font-size: 75px;
  color: $dark_blue;
  text-align: center;
}


p {
  margin-bottom: 5px;
}

.tournament-date {
  margin-bottom: 20px;
}

.tournament-location {
  color: $dark_blue;
  font-size: 44px;
  font-weight: 800;
  margin-bottom: 30px;
}

.tournament-rated {
  color: $gray;
  font-size: 16px;
  font-weight: 400;
}

.tournament-powered {
  color: $gray;
  font-size: 16px;
  font-weight: 400;
}

.tournaments {
  background-image: url(space-background.jpg);
  background-repeat: no-repeat;
  height: auto;
  }

.my-2 {
  font-size: 60px;
  color: white;
}

// Style shared by all card types
.tournament-card, .event-card {
  border-radius: 14px;
  padding: 6px;
  background-color: white;
  color: $card-text-color;

  h4 {
    color: $gray;
    font-weight: 600;
  }
}

// Custom styling for Pairwise tournament cards
.tournament-card {
  a {
    color: $card-text-color;
  }

  &:hover {
    box-shadow: 0 0 3px 3px $card-text-color;
  }
  background-size: cover;
  background-position: center;
  background-color: $light_gray;
  height: 300px;
  // display: flex;
  justify-content: center;
  align-items: center;
  color: $gray;
  font-size: 32px;
  font-weight: bold;
  padding: 60px;
  box-shadow: 10px 10px $gray;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 50px;
  max-width: 1500px;
}
// Custom styling for event cards
.event-card {
  // height: 140px;
  // box-shadow: 3px 3px 2px 2px $gray;
  border: 1px solid $dark_blue;
  padding: 20px;
  font-size: 14px;
  color: $dark_blue;

  h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 18px;
  }

  a {
    text-decoration: none;
    text-transform: uppercase;
    background-color: $royal_blue;
    padding: 6px 12px;
    border-radius: 5px;
    color: white;
  }

  a:hover {
    box-shadow: 0 0 3px 0 $dark_blue;
    color: $light-gray;
    background-color: $dark_blue;
  }
}
