// Style shared by all card types
.tournament-card, .event-card {
  border-radius: 14px;
  padding: 6px;
  background-color: white;
  color: $card-text-color;
  box-shadow: 3px 3px 2px 2px $gray;

  h4 {
    color: $gray;
    font-weight: 600;
  }
}

// Custom styling for event cards
.event-card {
  padding: 20px;
  font-size: 14px;
  color: $dark-blue;

  h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 18px;
  }

  a {
    text-decoration: none;
    text-transform: uppercase;
    background-color: $royal-blue;
    padding: 6px 12px;
    border-radius: 5px;
    color: white;
  }

  a:hover {
    box-shadow: 0 0 3px 0 $dark-blue;
    color: $light-gray;
    background-color: $dark-blue;
    // Cursor was defaulting to the text cursor
    cursor: pointer;
  }
}

.tournament-card {
  padding-top: 40px;
  padding-left: 40px;
  min-height: 260px;
  margin-bottom: 10px;
}


.tournaments, .my-tournaments {
  background-image: url(space-background.jpg);
  background-repeat: repeat;
  background-size: 1000px;
  flex-grow: 1;
}

#bottom-page {
  margin-bottom: 0rem!important;
  padding-bottom: 3rem;
}

.col-lg {
  width: 65%;
}

.tournament-date {
  color: $gray;
  margin-bottom: 20px;
}

.tournament-location {
  color: $dark-blue;
  font-size: 44px;
  font-weight: 800;
  margin-bottom: 30px;
}

.tournament-rated {
  color: $gray;
  font-size: 16px;
  font-weight: 400;
}

.tournament-powered {
  color: $gray;
  font-size: 16px;
  font-weight: 400;
}

.col-sm {
  margin-top: 25px;
}

.tournament-big-num {
  font-size: 75px;
  color: $dark-blue;
  text-align: center;
}
