/*
TODO: Flesh these out. The event-card and tournament-card classes are used on
the index page. The tournaments-card is also used on the My Tournaments
page. These currently share most styles, but that can (and probably should
be) overwritten.
*/

// Style shared by all card types
.tournament-card, .event-card {
  border-radius: 14px;
  padding: 6px;
  background-color: white;
  color: $card-text-color;
  box-shadow: 3px 3px 2px 2px $gray;

  h4 {
    color: $gray;
    font-weight: 600;
  }
}

// Custom styling for event cards
.event-card {
  // height: 140px;
  // border: 1px solid $dark_blue;
  padding: 20px;
  font-size: 14px;
  color: $dark_blue;

  h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 18px;
  }

  a {
    text-decoration: none;
    text-transform: uppercase;
    background-color: $royal_blue;
    padding: 6px 12px;
    border-radius: 5px;
    color: white;
  }

  a:hover {
    box-shadow: 0 0 3px 0 $dark_blue;
    color: $light-gray;
    background-color: $dark_blue;
    // Cursor was defaulting to the text cursor
    cursor: pointer;
  }
}

.tournament-card {
  padding-top: 40px;
  padding-left: 40px;
  height: 260px;
  margin-bottom: 10px;
}


.tournaments, .my-tournaments {
  background-image: url(space-background.jpg);
  background-repeat: repeat;
  // height: auto;
  min-height: 100vh;
}

// TODO: This is a bootstrap class. Please define a different class if you need
//       to use these styles somewhere.
// .my-2 {
//   font-size: 60px;
//   color: white;
//   font-weight: 600;
//   text-shadow: $gray 1px 0 10px; // This makes the text blurry/hard to read
// }

// .container {
//   padding-right: 50px;
// }

.col-lg {
  float: left;
  width: 60%;
}

.tournament-date {
  color: $gray;
  margin-bottom: 20px;
}

.tournament-location {
  color: $dark_blue;
  font-size: 44px;
  font-weight: 800;
  margin-bottom: 30px;
}

.tournament-rated {
  color: $gray;
  font-size: 16px;
  font-weight: 400;
}

// p {
//   margin-bottom: 5px;
// }

.tournament-powered {
  color: $gray;
  font-size: 16px;
  font-weight: 400;
}

.col-sm {
  margin-top: 25px;
}

.players {
  float: left;
  margin-right: 80px;
}

.tournament-big-num {
  font-size: 75px;
  color: $dark_blue;
  text-align: center;
  // text-shadow: $gray 1px 0 10px; // This makes the text blurry/hard to read
}

.games {
  float: left;
}
