/*
TODO: Flesh these out. The event-card and tournament-card classes are used on
      the index page. The my-tournaments-card is used on the My Tournaments
      page. These all currently share most styles, but that can (and probably
      should be) overwritten.
*/

// Style shared by all three
.event-card, .tournament-card, .my-tournament-card {
  border-radius: 14px;
  padding: 8px;
  background-color: white;
  color: $card-text-color;

  h4 {
    color: red;
  }
}

// Style shared by the two Pairwise tournament variations
.tournament-card, .my-tournament-card {
  a {
    color: $card-text-color;
  }

  &:hover {
    box-shadow: 0 0 3px 3px $card-text-color;
  }
}

// Custom sstyline tuff for events
.event-card { }

// Custom styling for tournaments
.tournament-card { }

// Custom styling for my tournaments
.my-tournament-card { }
