@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
.body{
	line-height: 1.5;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
  flex-grow: 1;
}
.row{
	// display: flex;
	flex-wrap: wrap;
  padding-top: 30px;
}

ul{
	list-style: none;
}
.footer{
	background-color: $gray;
  padding: 50px 0px 50px 200px;
  flex-direction: column;
  height: 15rem;
  width: 100%;
  position: relative;
  bottom: 0px;
}
.footer-col{
   width: 25%;
   padding: center;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: $dark-blue;
	text-decoration: none;
	font-weight: 300;
	color: #ffffff;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: $dark-blue;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:30px 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 25%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}
.footer-col .logo {
  padding-bottom: 120px;
}

// /*responsive*/
// (max-width: 767px){
//   .footer-col{
//     width: 50%;
//     margin-bottom: 30px;
// }
// }
// @media(max-width: 574px){
//   .footer-col{
//     width: 100%;
// }
// }
