// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "button";
@import "card";
@import "form";
@import "form_legend_clear";
@import "heading";
@import "navbar";
@import "footer";
@import "scoreboard_player_card";
@import "modal";
@import "score_modal"
