// scoreboard.html.erb
.scoreboard-division {
  color: $dark_blue;
  text-align: center;
  padding-bottom: 20px;
}

.scoreboard-main {
  max-width: 1300px;
}

.scoreboard {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 40px;
  color: $dark_blue;
}

.scoreboard-player-card {
  box-shadow: 8px 8px $gray;
  display: flex;
  flex-wrap: wrap;
  display: grid;
  border-radius: 14px;
  padding: 25px;
  margin-bottom: 20px;
  padding-bottom: 8px;
  font-size: 18px;
  background-color: white;
}

.next-last {
  display: flex;
  min-height: 40px;
  font-size: 12px;
}

.next-last > div {
  display: flex;
  margin-bottom: 1px;
  justify-self: end;
}

#card-1st{
  background-color: $dark_blue;
  color: white;
}

#card-2nd {
  background-color: $dark-blue-2;
  color: white;
}

#card-3rd {
  background-color: $dark-blue-3;
  color: white;
}

.card-reg {
  color: $royal_blue;
}

.player-bottom-half-info {
  min-height: 100px;
}

// NOT VERIFIED YET
.scoreboard-p {
  font-size: 12px;
  font-weight: lighter;
  text-align: right;
  margin-bottom: 0;
  // margin-bottom: 1px;
}

.first-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.player-avatar {
  max-width: 128px;
  height: 128px;
  border-radius: 50%;
}

.player-name {
  display: flex;
  justify-content: center;
  text-align: center;
  line-height: 100%;
  font-size: 24px;
  min-height: 80px;
}

.player-p {
  align-self: center;
  margin-bottom: 0;
}

.score-line {
  display: flex;
  justify-content: center;
  font-size: 18px;
  align-items: center;
  // Gap between W-L record and spread
  gap: 8px;
}

.spread {
  font-size: 14px;
}
