// scoreboard.html.erb && index.html.erb
#scoreboard-h4,  #pairing-h4 {
  color: $royal_blue;
  text-align: center;
}

#scoreboard-h1, #pairing-h1  {
  color: $royal_blue;
  text-align: center;
  text-shadow: 0 0 white;
  font-size: 48px;
  font-weight: 600;
}

.scoreboard-division {
  color: $dark_blue;
  text-align: center;
  padding-bottom: 20px;
}

.scoreboard-main {
  max-width: 1300px;
}

.scoreboard {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 40px;
  color: $dark_blue;
}

.scoreboard-player-card {
  box-shadow: 8px 8px $gray;
  display: flex;
  flex-wrap: wrap;
  display: grid;
  border-radius: 14px;
  padding: 25px;
  margin-bottom: 20px;
  padding-bottom: 8px;
  font-size: 18px;
  background-color: white;
}

#card-1st{
  background-color: $dark_blue;
  color: white;
}

#card-1st #ranking, #card-1st #rating, #card-1st #next-game, #card-1st #last-game, #card-2nd #ranking, #card-2nd #rating, #card-2nd #next-game, #card-2nd #last-game, #card-3rd #ranking, #card-3rd #rating, #card-3rd #next-game, #card-3rd #last-game {
  color: white;
}

#card-2nd {
  background-color: $blue;
  color: white;
}

#card-3rd {
  background-color: $gray;
  box-shadow: 8px 8px $blue;
  color: white;
}

.player-bottom-half-info {
  min-height: 100px;
}

// NOT VERIFIED YET
  #ranking {
    margin-top: 6px;
  color: $royal_blue;

}

#rating {
  color: $royal_blue;
}

.scoreboard-p {
  font-size: 12px;
  margin-bottom: 1px;
}

.first-row {
  display: flex;
  // border: solid green 3px;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  color: $royal_blue;
}

.player-avatar {
  max-width: 128px;
  height: 128px;
  border-radius: 50%;
}

.player-name-current-ranking {
  display: flex;
  // border: solid red;
  color: $royal_blue;
}

#player-name {
  display: flex;
  // border: solid red;
  justify-content: center;
  text-align: center;
  font-size: 24px;
  min-height: 88px;
}

#current-ranking {
  display: flex;
  justify-content: center;
  font-size: 18px;
  align-items: center;
  // Gap between W-L record and spread
  gap: 8px;
}

#last-game {
  display: flex;
  justify-content: left;
  font-size: 12px;
  color: $royal_blue;
  margin-bottom: 1px;
}

#next-game {
  display: flex;
  justify-content: left;
  font-size: 12px;
  color: $royal_blue;
}

.spread {
  font-size: 14px;
}
